<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
			MENU
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				Parts tool
			</a>

			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="{% url 'image_map'%}" ><span class="glyphicon"></span> Tool </a>
				</li>
				<li>
					<a href="{% url 'image_show'%}" ><span class="glyphicon"></span> Images </a>
				</li>
				<li>
					<a href="{% url 'map_create'%}" ><span class="glyphicon"></span> create attr </a>
				</li>

			</ul>
		</div>


		
	</div><!-- /.container-fluid -->
</nav>  	
